* {
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #fffafa;
    --button-color: #202122;
    --primary-color: #01abee;
    --secondary-color: #05dbf2;
    --tertiary-color: #4f5902;
    --quaternary-color: #a0a603;
    --quinary-color: #a68953;
    --senary-color: #f2f2f2;
    --scrollbarTrack-color: #636060;
}

@font-face {
    font-family: 'Nourd';
    src: url(../fonts/Nourd/nourd_light.ttf);
}

@font-face {
    font-family: 'Bobby Jones';
    src: url(../fonts/BobbyJones/BobbyJonesSoft.otf);
}

h1, h2, h3 {
    font-family: 'Bobby Jones';
    font-weight: 400;
    color: #333;
}

p, span, a{
    color:#333;
    font-family: 'Nourd';
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}


body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarTrack-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--button-color);
    border-radius: 10px;
    border: 3px solid var(--scrollbarTrack-color);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
}


header {
    background-color: var(--quaternary-color);
    padding: 0;
    margin: 0;
    position: fixed;    
    width: 100%;
    height: auto;
    z-index: 1000;
    display: flex;
    flex-direction: row;
}

.logo {
    display: flex;
    flex:1;
}

.logo img {
    width: 150px;
    height: 170px;
}

.burger-menu {
    display: none;
}

.navBar {
    background-color: var(--button-color);
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.navList{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    width: 100% ;
    margin: 0;
    padding: 0;
}

.navListItems {
    margin: 0 15px;
    padding: 15px;
    list-style-type: none;
}

.navListItems a {
    text-decoration: none;
    color: var(--senary-color);
    font-size: 17px;
    font-family: 'Nourd';
    transition: 0.4s;
}

.navListItems a:hover,
.navListItems a:active {
    color: var(--primary-color);
}


#dropdown-menu {
    display: none; /* Oculta el menú por defecto */
    position: absolute;
    list-style: none;
    padding: 10px;
    margin-top: 5px;
    background-color: var(--button-color);
    border: 1px solid var(--scrollbarTrack-color);
    border-top: none;
}


.navListItems:hover #dropdown-menu {
    display: block;
    transition: all 0.7 ease;
}

#dropdown-menu li {
    padding: 5px 0;
}

#dropdown-menu ul li a {
    text-decoration: none;
    color: var(--senary-color);
    z-index: 1005;
    display: block;
}

#dropdown-menu li a:hover {
    color: #007BFF;
}

.dropdown-menu li a {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menu-icon {
    font-size: 2.5rem;
    color: var(--senary-color);
    display: none;
    cursor: pointer;
    text-align: end;
    position: absolute;
    right: 10px;
    top: 10px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    padding: 10px;
    width: 100%;
}


.hero-text{
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
}

.hero-text h1 {
    margin: 30px;
    padding: 10px;
    font-size: 4rem;
}

.hero-text img {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    object-fit: cover;
}

.hero-galery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 0;
    height: 100%;
    max-height: 50vh;
    width: 100%;
    max-width: 55dvw;
}

.hero-galery iframe {
    border-radius: 15px;
    margin-bottom: 25px;
    height: 550px;
    max-height: 600px;
}

.hero-galery button {
    background-color: var(--button-color);
    border: none;
    padding: 15px;
    margin: 15px auto;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 40%;

}

/*.hero-galery button:hover {
    background-color: var(--quinary-color);
    box-shadow: var(--tertiary-color);
    transition: 0.7s;
    color: var(--senary-color);
}*/


.hero-galery button a {
    color: var(--senary-color);
    text-decoration: none;
}

.experiencias {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.experiencias h2 {
    text-align: left;
    font-size: 2.5em;
    margin: 2rem;
    padding: 1rem;    
}

.experiencias-container {
    display: flex;
    width: 100%;
    max-width: fit-content;
    margin: 25px;
    padding: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999; 
    display: none; 
}

.experiencias-column,
.experiencias-galery,
.experiencias-text {
    flex: 1; 
    padding: 10px;
}


.experiencias-column img {
    width: 100%;
    max-width: 600px;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.experiencias-galery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
}

.experiencias-item {
    width: 100%;
    /*max-width: 400px;*/
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(177, 167, 167, 0.1);
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.7s ease-in-out;
}

.zoomed {
    transform: translate(-50%, -50%) scale(1.1);
    position: fixed;
    z-index: 1000;
    max-width: 65vw;
    top: 50%;
    left: 50%;
    max-height: 65vh;
    background-blend-mode: darken;
}

.x-button{
    position: absolute;
    top: 4.5rem;
    right: 2rem;
    background-color: var(--secondary-color);
    color: var(--senary-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    z-index: 10100;
}


.experiencias-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experiencias-download-pdf {
    margin-bottom: 15px;
    background-color: var(--button-color);
    color: white;
    width: 75%;
    margin:0 auto 25px auto;
    padding: 10px 20px;
    font-size: 16px;    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

/*.experiencias-download-pdf:hover {
    background-color: var(--secondary-color);
    box-shadow: var(--primary-color);
    transition: 0.7s;
    color: var(--senary-color);
}*/

.experiencias-text p {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-top: 30px;
    text-align: center;
    align-content: center;
}


.viajes-personalizados h2 {
    text-align: left;
    font-size: 2.5em;
    margin: 2rem;
    padding: 1rem;    
}

.viajes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 25px;
    padding: 10px;
}

.viajes-column,
.viajes-text {
    flex: 1; 
    padding: 10px; 
}

.viajes-column img {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
}

.viajes-text p {
    font-size: 1.4rem;
    margin-top: 30px;
    text-align: center;
    align-content: center;
    max-height:100%;
}


.experiencias-download-pdf a {
    color: var(--senary-color);
    text-decoration: none;
}

.opiniones {
    width: 100%;
    display: flex;
    flex-direction: column
}

.opiniones h2 {
    text-align: left;
    font-size: 2.5em;
    margin: 2rem;
    padding: 1rem;    
}

.opiniones-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 25px;
    padding: 10px;
}

.opiniones-img,
.opiniones-text {
    flex: 1; 
    padding: 10px; 
}

.opiniones-img img {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
}

.opiniones-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.opiniones-text span {
    font-size: 1.6rem;
}

.opiniones-text p {
    display: block;
    font-size: 1.4rem;
    margin-top: 30px;
    text-align: center;
    align-content: center;
    max-height:100%;
}

.programas {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 20px; 
    width: 100%;
    max-width: 100dvw;
}

.programas h2 {
    text-align: left;
    font-size: 2.5em;
    margin: 10px;
    padding: 10px;    
}

.programas-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px;
    padding: 10px;

}

.programas-wraper {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border: solid 3px var(--secondary-color);
    border-radius: 10px;
    margin: 10px 50px;
    background-color: var(--background-color);
    transition: all 0.7 ease; 
    cursor: pointer;
}

.programas-wraper h3 {
    text-align: center;
    font-size: 2em;
    margin: 10px;    
}

.programas-descript{
    display: none;
    text-align: center;
    font-size: 1.5em;
}

.programas-wraper hr{
    z-index: -1;
} 

.programas-wraper  button {
    background-color: var(--button-color);
    color: var(--senary-color);
    border: none;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 1em;
    width: 65%;
}

.programas-wraper  button a{
    color: var(--senary-color);
    text-decoration: none;
}

.nosotros {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.nosotros h2 {
    text-align: left;
    font-size: 2.5em;
    margin: 2rem;
    padding: 1rem;   
}

.nosotros-container {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.nosotros-carrousel,
.nosotros-text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


.nosotros-carrousel {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 600px;
}

.carousel {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 0 0 100%;
    border-radius: 1.2rem;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.nosotros-text {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 750px;
}

.nosotros-text p {
    font-size: 1.3rem;
    color: #333;
    margin-top: 20px;
    text-align: center;
    align-content: center;
}

.contacto{
    padding: 20px 10px;
    align-items: center;
}

.contacto h2 {
    text-align: flex-start;
    font-size: 2.5em;
    margin: 2rem;
    padding: 1rem;
}

.contact-wrapper {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    max-width: fit-content;
    max-height: 100%;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.contact-left,
.contact-right {
    flex: 1;
    padding: 10px;
    max-height: 75%;
    margin: 50px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-height: 75%;
    margin: 50px;
}

.contact-left form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.contact-left form input,
.contact-left form textarea {
    border: solid 1px var(--button-color);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 100%;
    box-shadow: var(--scrollbarTrack-color);
    background-color: var(--background-color);
}

.contact-left form button {
    background-color: var(--button-color);
    color: var(--senary-color);
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1em;
    width: 65%;
}

.contact-right img {
    width: 80%;
    max-width: 80%;
    max-height: 100%;
    display: flex;
    align-content: center;
}

.contacto h3 {
    font-size: 2rem;
}

footer {
    padding: 20px 10px;
    align-items: center;
}

footer h2 {
    text-align: flex-start;
    margin-bottom: 30px;
    font-size: 2.5em;
}

footer .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.social-media a i {
    font-size: 35px;
    margin: 35px;
    color: #333;
}

footer p {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    align-content: center;
}

footer p a {
    color: var(--quaternary-color);
    text-decoration: none;
}

#whatsapp-button {
    position: fixed;
    bottom: 90px;
    right: 15px;
    display: none;
}

#whatsapp-button a {
    text-decoration: none;
}

#whatsapp-button i {
    font-size: 35px;
    color: white;
    background-color: rgb(48, 226, 24);
    border-radius: 25%;
    padding: 10px;
    margin-right: 25px;
}


@media (max-width: 998px) {

    .experiencias-container {
        display: grid;
        grid-template-areas: 
        "experiencias-column  experiencias-galery"
        "experiencias-text  experiencias-text ";
    }

    .experiencias-text {
        grid-area: experiencias-text;
    }


    .viajes-personalizados button {
        margin-bottom: 5px;
    }

    .opiniones-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nosotros-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-left {
        width: 100%;
        margin: auto;
    }

    .contact-left form {
        width: 75%;
    }

    .contact-left form button {
        margin: auto;
    }

    .contact-right img {
        margin: auto;
    }
}

@media (max-width: 768px) {


        #menu-icon {
            display: block;
            cursor: pointer;
            color: #333;
        }

        .navList{
            display: none;
            flex-direction: column;
            position: relative;
            width: 100%;
            z-index: 1000;
            background-color: var(--background-color);
        }

        .navList.active {
            display: flex;
        }

        .navListItems {
            padding: 12px;
            text-align: start;
            border-bottom: 1px solid #ddd;
        }

        #dropdown-menu {
            display: none;
            flex-direction: column;
            background-color: var(--background-color);
            position: static;
        }

        .navListItems:hover #dropdown-menu {
            display: block;
            transition: all 0.7 ease;
        }
    
        .navListItems:hover .dropdown-menu {
            display: flex;
            flex-direction: column;
            background-color: var(--background-color);
        }

        .navListItems a {
            color: #333;
        }

        .hero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
        }

        .hero-text { 
            font-size: 1.5rem;
            margin: 1rem;
            padding: 1rem;
        }

        .hero-text h1 {
            margin: 30px;
            padding: 10px;
            font-size: 2.5rem;
        }

        .hero-text p {
            font-size: 1rem;
            margin: .4rem;
            padding: .4rem;
            
        }

        .hero-galery {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            padding: 20px;
            margin: 0;
            height: fit-content;
            max-width: 95dvw;
        }

        .hero-galery button {
            padding: 15px;
            margin: 15px;
            border-radius: 5px;
            font-size: 1.2rem;
            width: 65vw;
        }

        .experiencias-container {
            display: flex;
            flex-direction: column;
        }

        .experiencias-column img {
            width: 100%;
            max-width: 750px;
        }

        .zoomed {
            transform: translate(-50%, -50%) scale(1.1);
            position: fixed;
            z-index: 1000;
            max-width: 65vw;
            top: 50%;
            left: 50%;
            max-height: 65vh;
            background-blend-mode: darken;
        }

        .experiencias-text {
            margin-top: 15px;
        }

        .experiencias-text p {
            font-size: 1rem;
        }

        .viajes-container {
            display: flex;
            flex-direction: column;
        }

        .viajes-text p {
            font-size: 1rem;
        }

        .opiniones h2{
            align-items: center;
        }
        .opiniones-container{
            display: flex;
            flex-direction: column;
        }

        .opiniones-text span {
            font-size: 1.3rem;
        }

        .opiniones-text-desplegable {
            display: none;
        }

        .opiniones-text p {
            font-size: 1rem;
        }

        .programas-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .programas-wraper {
            width: 100%;
            margin: 10px;
        }

        .programas-wraper h3 {
            max-width: 80%;
            font-size: 1.5rem;
        }

        .programas-descript {
            font-size: .8rem;
        }

        .nosotros-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .nosotros-carrousel {
            max-width: 85%;
        }

        .nosotros-text p {
            font-size: 1rem;
        }

        .contact-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
            padding: 10px;
        }

        .contact-left,
        .contact-rigth {
            width: 100%;
        }

        .contact-left form {
            width: 75%;
        }

        .contact-rigth img {
            width: 500px;
}
}