* {
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #fffafa;
    --button-color: #202122;
    --primary-color: #01abee;
    --secondary-color: #05dbf2;
    --tertiary-color: #4f5902;
    --quaternary-color: #a0a603;
    --quinary-color: #a68953;
    --senary-color: #f2f2f2;
    --scrollbarTrack-color: #636060;
    --error-color: #c00404;
}

@font-face {
    font-family: 'Nourd';
    src: url(../fonts/Nourd/nourd_light.ttf);
}

@font-face {
    font-family: 'Bobby Jones';
    src: url(../fonts/BobbyJones/BobbyJonesSoft.otf);
}

h1, h2, h3 {
    font-family: 'Bobby Jones';
    font-weight: 400;
    color: #333;
}

p, span, a{
    color:#333;
    font-family: 'Nourd';
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}


body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarTrack-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--button-color);
    border-radius: 10px;
    border: 3px solid var(--scrollbarTrack-color);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
}


header {
    background-color: var(--button-color);
    padding: 0;
    margin: 0;
    position: fixed;    
    width: 100%;
    height: auto;
    z-index: 1000;
    display: flex;
    flex-direction: row;
}

.logo {
    display: flex;
    flex:1;
}

.logo img {
    width: 120px;
    height: 80px;
    margin-left: 25px;
}

.burger-menu {
    display: none;
}

.navBar {
    background-color: var(--button-color);
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.navList{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    width: 100% ;
    margin: 0;
    padding: 0;
}

.navListItems {
    margin: 0 15px;
    padding: 15px;
    list-style-type: none;
    color: var(--senary-color);
    font-size: 17px;
    font-family: 'Nourd';
}

.navListItems a {
    text-decoration: none;
    color: var(--senary-color);
    font-size: 17px;
    font-family: 'Nourd';
    transition: 0.4s;
}

.navListItems a:hover,
.navListItems a:active {
    color: var(--primary-color);
}


#dropdown-menu {
    display: none; /* Oculta el menú por defecto */
    position: absolute;
    list-style: none;
    padding: 10px;
    margin-top: 5px;
    background-color: var(--button-color);
    border: 1px solid var(--scrollbarTrack-color);
    border-top: none;
}


.navListItems:hover #dropdown-menu {
    display: block;
    transition: all 0.7 ease;
}

#dropdown-menu li {
    padding: 5px 0;
}

#dropdown-menu ul li a {
    text-decoration: none;
    color: var(--senary-color);
    z-index: 1005;
    display: block;
}

#dropdown-menu li a:hover {
    color: #007BFF;
}

.dropdown-menu li a {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menu-icon {
    font-size: 2.5rem;
    color: var(--senary-color);
    display: none;
    cursor: pointer;
    text-align: end;
    position: absolute;
    right: 10px;
    top: 10px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    padding: 10px;
    width: 100%;
    margin-top: 70px;
}


.hero-text{
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
}

.hero-text h1 {
    margin: 30px;
    padding: 10px;
    font-size: 4rem;
}

.hero-text img {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    object-fit: cover;
}

.hero-galery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 0;
    height: 100%;
    max-height: 50vh;
    width: 100%;
    max-width: 75dvw;
}

.hero-galery iframe {
    border-radius: 15px;
    margin-bottom: 25px;
    height: 550px;
    max-height: 600px;
}

.hero-galery button {
    background-color: var(--button-color);
    border: none;
    padding: 15px;
    margin: 15px auto;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
}

.hero-galery button a {
    color: var(--senary-color);
    text-decoration: none;
}

.experiencias {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.experiencias h2 {
    font-size: 2.5em;
    margin: 0.5rem 2rem;
    padding: 0.5rem 1rem;    
}

.experiencias-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: fit-content;
    margin: 25px;
    padding: 1rem auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999; 
    display: none; 
}

.experiencias-column,
.experiencias-galery,
.experiencias-text {
    flex: 1; 
    padding: 10px;

}


.experiencias-column img {
    width: 100%;
    max-width: 600px;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.experiencias-galery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
}

.experiencias-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(177, 167, 167, 0.1);
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.7s ease-in-out;
}

.zoomed {
    transform: translate(-50%, -50%) scale(1.1);
    position: fixed;
    z-index: 1000;
    max-width: 65vw;
    top: 50%;
    left: 50%;
    max-height: 65vh;
    background-blend-mode: darken;
}

.x-button{
    position: absolute;
    top: 4.5rem;
    right: 2rem;
    background-color: var(--secondary-color);
    color: var(--senary-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    z-index: 10100;
}


.experiencias-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experiencias-download-pdf {
    margin-bottom: 15px;
    background-color: var(--button-color);
    color: white;
    width: 75%;
    margin:0 auto 25px auto;
    padding: 15px 25px;
    font-size: 16px;    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
}

.experiencias-text p {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-top: 30px;
    text-align: center;
    align-content: center;
}

.viajes-personalizados {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.viajes-personalizados h2 {
    text-align: left;
    font-size: 2.5em;
    margin: 0.5rem 2rem;
    padding: 0.5rem 1rem;    
}

.viajes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.viajes-column,
.viajes-text {
    flex: 1; 
    padding: 10px; 
}

.viajes-column img {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
}

.viajes-text p {
    font-size: 1.4rem;
    margin-top: 30px;
    text-align: center;
    align-content: center;
    max-height:100%;
}


.experiencias-download-pdf a {
    color: var(--senary-color);
    text-decoration: none;
}


.opiniones {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: rgba(224, 238, 162, 0.897);
}

.opiniones h2 {
    text-align: left;
    font-size: 2.5em;
    margin: 2rem;
    padding: 1rem;    
}

.opiniones-wrapper1{
    display: flex;
    justify-content: center;
    width: 85%;
    height: 95vh;
    margin: auto;
    padding: 1rem auto;
}

.opiniones-wrapper1-left,
.opiniones-wrapper1-center,
.opiniones-wrapper1-right {
    flex: 1;
    gap: 2rem
}

.opiniones-wrapper1-left {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 600px; 
    margin: 10px 10px;
}

.opiniones-wrapper1-left video{
    width: 100%;
    max-width: 600px;
    height: 85%;
    border-radius: 1.2rem;
}

.opiniones-wrapper1-center {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 600px;
    margin: 0 10px
}

.opiniones-wrapper1-right {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 600px;
    margin: 0 10px;
}

.opiniones-wrapper1-left video,
.opiniones-wrapper1-center img,
.opiniones-wrapper1-right img {
    max-height: 100%;
    object-fit: cover; 
}

.opiniones-wrapper2 {
    display: flex;
    justify-content: center;
    width: 85%;
    height: 85vh;
    margin: 15px auto;
    padding: 1rem auto;
}


.opiniones-wrapper2-left,
.opiniones-wrapper2-center {
    flex: 1;
    gap: 2rem
}

.opiniones-wrapper2-left {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 600px; 
    margin: 0 10px;
}

.opiniones-wrapper2-center {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 600px;
    margin: 0 10px
}

.opiniones-carrousel {
    display: flex;
    width: 100%;
    height: 85%;
    transition: transform 0.5s ease-in-out;
}

.opiniones-carrousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 0 0 100%;
    border-radius: 1.2rem;
}

.opiniones-carrousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

.prevBtn{
    left: 10px;
}

.nextBtn {
    right: 10px;
}

.opiniones-wrapper1 p,
.opiniones-wrapper2 p {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10px;
}


.audio-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 10px;
}

.audio-container audio {
        width: 100%;
        margin-top: 5px;
        height: 10%;
        outline: none;
    }


.opniones-final {
    background-color: var(--background-color); 
}

.opiniones-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;

}

.opiniones-container img {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
}

.opiniones-container p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    margin: 15px;
    padding: 15px;
}


/*-----------programas ---------*/


.programas {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px; 
    max-width: 100dvw;
    background-color: rgba(227, 248, 130, 0.897);
}

.programas h2 {
    text-align: left;
    font-size: 2.5em;
    margin: 10px;
    padding: 10px;    
}

.programas-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

.programas-wraper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    height: 100%; 
}

.programas-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.programas-text h3 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.descript{
    display: flex;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    margin: 0;
    padding: 0;
}

.programas-button {
    background-color: var(--button-color);
    color: var(--senary-color);
    box-shadow: 0 4px 8px rgba(0,0,0,1);
    border: none;
    padding: 10px;
    margin: 15px auto;
    border-radius: 5px;
    font-size: 1em;
    width: 65%;
}

.programas-wraper  button a{
    color: var(--senary-color);
    text-decoration: none;
}

.programas-wraper img {
    width: 90%; 
    height: 60%;
    max-height: 70%;
    margin-top: 15px;
    border-radius: 5px;
}



/*---------nosotros ----------*/

.nosotros {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.nosotros h2 {
    text-align: left;
    font-size: 2.5em;
    margin: 2rem;
    padding: 1rem;   
}

.nosotros-container {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.nosotros-carrousel,
.nosotros-text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


.nosotros-carrousel {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 600px;
}

.carousel {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 0 0 100%;
    border-radius: 1.2rem;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.nosotros-text {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 750px;
}

.nosotros-text p {
    font-size: 1.3rem;
    color: #333;
    margin-top: 20px;
    text-align: center;
    align-content: center;
}

.contacto{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}

.contacto h2 {
    text-align: left;
    font-size: 2.5rem;
    margin: 2rem;
    padding: 1rem;
}

.contact-wrapper {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    max-width: fit-content;
    max-height: 100%;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.contact-left,
.contact-right {
    flex: 1;
    padding: 10px;
    max-height: 75%;
    margin: 0 50px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-left form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.contact-left form input,
.contact-left form textarea {
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 100%;
    box-shadow: var(--scrollbarTrack-color);
    background-color: var(--background-color);
}

.contact-left form input:focus,
.contact-left form textarea:focus {
    box-shadow: 0 4px 8px rgba(0,0,0,1);
}

#submit {
    background-color: var(--button-color);
    color: var(--senary-color);
    box-shadow: 0 4px 8px rgba(0,0,0,1);
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 1em;
    width: 65%;
}

.contact-right img {
    width: 80%;
    max-width: 80%;
    margin: 50px;
    align-items: center;
}

.contact-wrapper-final {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    max-width: fit-content;
    max-height: 100%;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.contact-left-final,
.contact-right-final {
    flex: 1;
    padding: 10px;
    max-height: 75%;
    margin: 0 50px;
}

.contact-left-final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.contact-left-final img {
    width: 90%;
    max-width: 90%;
    margin: 50px auto;
    align-items: center;
}

.contact-right-final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.contact-right-final button{
    align-items: center;
    background-color: var(--button-color);
    border: none;
    padding: 15px;
    margin: 50px auto;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
} 

.contact-right-final button a{
    color: var(--senary-color);
    text-decoration: none;
}

.error{
    color: var(--error-color);
    font-family: 'Nourd';
    font-size: 1rem;
    margin:10px 0 10px 0;
    padding: 0;
}

.form-ok {
    display: none;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: auto;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    height: 40%;
    width: 40%;
}

.form-ok h2 {
    font-size: 2rem;
    margin: 0.1rem 0.1rem;
    padding: 0.1rem;
    text-align: center;
}

.form-ok h3 {
    font-size: 1.5rem;
    margin: 0.1rem 0.1rem;
    padding: 0.1rem;
}

.body-dark {
    background-color: rgba(0, 0, 0, 0.8); 
    transition: background-color 0.3s ease; 
    overflow: hidden;
}


footer {
    padding: 20px 10px;
    align-items: center-;
}

footer h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem;
    padding: 1rem;
}

footer .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.social-media a i {
    font-size: 35px;
    margin: 35px;
    color: #333;
}

footer p {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    align-content: center;
}

footer p a {
    color: var(--quaternary-color);
    text-decoration: none;
}

#whatsapp-button {
    position: fixed;
    bottom: 90px;
    right: 15px;
    display: none;
    justify-content: center;
    flex-direction: column;
}

#whatsapp-button a {
    text-decoration: none;
    color: white;
}

#whatsapp-button i {
    font-size: 35px;
    color: white;
    background-color: rgb(48, 226, 24);
    border-radius: 25%;
    padding: 10px;
    margin-right: 25px;
}

@media (max-width: 998px) {

    .hero-galery {
        max-width: 95vw;
    }

    .experiencias-container {
        display: grid;
        grid-template-areas: 
        "experiencias-column  experiencias-galery"
        "experiencias-text  experiencias-text ";
    }

    .experiencias-download-pdf{
        width: 50%;
    }

    .experiencias-text {
        grid-area: experiencias-text;
    }


    .viajes-personalizados button {
        margin-bottom: 5px;
    }

    .opiniones {
        height: auto;
    }

    .opiniones h2 {
        font-size: 2.5rem;
        margin: 2rem;
        padding: 1rem;
        text-align: left;
    }


    .opiniones-wrapper1,
    .opiniones-wrapper2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 95vw;
        margin: 0 auto;
        padding: 0;
    }

    .opiniones-wrapper1-left,
.opiniones-wrapper1-center,
.opiniones-wrapper1-right {
    width: 100%;
    height: 95%;
}


    .audio-container {
        height: 100%;
    }

    .audio-container audio {
        height: 100%;
    }

    .nosotros-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .programas-wraper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        height: 80dvh; /* Igualar altura */
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        text-align: center;
    }

    .programas-descript {
        font-size: 0.9rem;
    }

    .programas-wraper img {
        width: 100%;
        height: 60%; 
        border-radius: 8px;
    }

    .contacto h2 {
        font-size: 1.5rem;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .contact-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-left {
        width: 100%;
        margin: auto;
    }

    .contact-left form {
        width: 75%;
    }

    .contact-left form button {
        margin: auto;
    }

    .contact-right {
        width: 100%;
        margin: auto;
    }

    .contact-right img {
        text-align: center;
    }

    .contact-wrapper-final {
        display: flex; 
        flex-direction: column;
        width: 90%;
        max-width: fit-content;
        max-height: 100%;
        justify-content: center;
        box-sizing: border-box;
        margin: 0 auto;
    }

    footer h2 {
        font-size: 1.5rem;
        margin-bottom: 30px;
        padding: 0.5rem;
    }
}

@media (max-width: 768px) {

        header {
            background-color: var(--button-color);
        }

        .logo {
            display: block;
        }


        #menu-icon {
            display: block;
            cursor: pointer;
            color: var(--senary-color);
        }

        .navList{
            display: none;
            flex-direction: column;
            position: relative;
            width: 100%;
            z-index: 1000;
            background-color: var(--button-color);
        }

        .navList.active {
            display: flex;
        }

        .navListItems {
            padding: 12px;
            text-align: start;
            border-bottom: 1px solid #ddd;
        }

        #dropdown-menu {
            display: none;
            flex-direction: column;
            background-color: var(--button-color);
            position: static;
        }

        .navListItems:hover #dropdown-menu {
            display: block;
            transition: all 0.7 ease;
        }
    
        .navListItems:hover .dropdown-menu {
            display: flex;
            flex-direction: column;
            background-color: var(--background-color);
        }

        .navListItems {
            color:var(--senary-color);
        }

        .hero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
        }

        .hero-text {
            width: 100%;
        }

        .hero-text h1 {
            font-size: 2rem;
            margin: 50px 0 0 0;
            padding: 0;
            min-width: 100%;
            text-align: center;
        }


        .hero-galery {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            padding: 20px;
            margin: 0;
            height: fit-content;
            max-width: 95dvw;
        }

        .hero-galery button {
            padding: 15px;
            margin: 15px;
            border-radius: 5px;
            font-size: 1.2rem;
            width: 65vw;
        }

        .experiencias {
            width: 90vw;
            margin: 0 auto;
            padding: 0;
        }

        .experiencias h2 {
            font-size: 1.5rem;
            margin: 0 0.5rem;
            padding: 0.5rem;
        }


        .experiencias-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            max-width: 95vw;
            padding: 0;
            margin: 0.5rem 0;
        }

        .experiencias-column img {
            width: 100%;
            max-width: 750px;
            margin: 0 auto;
        }

        .zoomed {
            transform: translate(-50%, -50%) scale(1.1);
            position: fixed;
            z-index: 1000;
            max-width: 65vw;
            top: 50%;
            left: 50%;
            max-height: 65vh;
            background-blend-mode: darken;
        }

        .experiencias-text {
            width: 100%;
            margin-top: 5px;
        }

        .experiencias-text a {
            margin-bottom: 5px;
        }

        .experiencias-text p {
            
            margin: 5px auto;
            font-size: 0.8rem;
        }

        .viajes-personalizados{
            width: 90vw;
            margin: 0 auto;
        }

        .viajes-personalizados h2 {
            font-size: 1.5rem;
            margin: 0.3rem 0.5rem;
            padding: 0.5rem;
            text-align: left;
        }

        .viajes-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .viajes-column {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .viajes-column img {
            width: 100%;
            max-width: 750px;
            margin: 0 auto;
        }

        .viajes-text p {
            font-size: 1rem;
        }

        .opiniones h2{
            font-size: 1.3rem;
            margin: 2.5px;
            padding: 1.5rem;
            text-align: left;
        }
        
    .opiniones-wrapper1,
    .opiniones-wrapper2 {
        flex-direction: column;
        height: auto; 
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .opiniones-wrapper1-left,
    .opiniones-wrapper1-center,
    .opiniones-wrapper1-right,
    .opiniones-wrapper2-left,
    .opiniones-wrapper2-center {
        width: 100%;
        height: auto;
        margin: 5px 0;
    }

    .opiniones-carrousel {
        height: auto;
        gap: 3px;
    }

    .audio-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        justify-content: flex-start; 
        margin-top: 0;
    }

    .audio-container audio {
        margin-top: 0;
        height: 60px; 
        align-self: flex-start;
    }

    .opiniones-carrousel-btn {
        font-size: 16px;
        padding: 6px 10px;
    }

    .opiniones-wrapper1 p,
    .opiniones-wrapper2 p {
        font-size: 1rem;
    }


        .programas-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .programas-wraper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            height: 80%;
            max-height: 100%;
        }

        .programas h2 {
            font-size: 1.8rem;
            margin: 0.1rem 0.1rem;
            padding: 0.1rem;
        }

        .programas-descript {
            font-size: .8rem;
        }

        .programas-text h3 {
            font-size: 1.5rem;
            margin: 0.1rem 0.1rem;
            padding: 0.1rem;
        }

        .programas-wraper img {
            width: 100%;
            height: 60%;
            margin: 0 auto;
        }

        .nosotros h2 {
            font-size: 1.5rem;
            margin: 0.1rem 0.1rem;
            padding: 0.1rem;
        }

        .nosotros-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .nosotros-carrousel {
            max-width: 85%;
        }

        .nosotros-text p {
            font-size: 1rem;
        }

        .contact-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
            padding: 10px;
        }

        .contact-left,
        .contact-rigth {
            width: 100%;
        }

        .contact-left form {
            width: 75%;
        }

        .contact-rigth img {
            width: 500px;
        }

        .form-ok {
            height: 50%;
            width: 70%;
        }

        .form-ok h2 {
            font-size: 2rem;
            margin: 0.5rem 0.1rem;
            padding: 0.1rem;
            text-align: center;
        }

        .form-ok h3 {
            font-size: 1.5rem;
            margin: 0.5rem 0.1rem;
            padding: 0.1rem;
        }
        .social-media {
            margin-bottom: 50px;
        }
}

@media (max-width: 512px) {
    .hero-text h1 {
        font-size: 1.5rem;
        margin: 50px 0 0 0 ;
        padding: 0;
        min-width: 100%;
        text-align: center;
    } 
}